@use "bootstrap/scss/bootstrap";

@mixin border($width, $color) {
  border: $width solid $color;
}

.Login_Container {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #668991;
  background: linear-gradient(
    90deg,
    rgba(102, 137, 145, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: 0 0 10px;
}
.Login_Paper{
  width: 50%;
  height: max-content;
  gap: 0.6rem;
  margin: 10% auto;
  display: flex;
  
  flex-direction: column;
  padding: 2%;
}