@use "bootstrap/scss/bootstrap";

@mixin border($width, $color) {
  border: $width solid $color;
}

.Login_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #668991;
  background: linear-gradient(
    90deg,
    rgba(102, 137, 145, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.Login_form {
  padding: 3%;
  width: 40%;
  border-radius: 2%;
  background: linear-gradient(
    90deg,
    rgba(102, 137, 145, 1) 0%,
    rgb(65, 65, 65) 50%,
    rgb(49, 49, 49) 100%
  );
}
.Login_btn{
 margin-top: 1%;
 width: 100%;
 --bs-btn-color: #fff; // white text
--bs-btn-bg: #668991; // base background
--bs-btn-border-color: #668991;

--bs-btn-hover-color: #fff;
--bs-btn-hover-bg: #4a646a; // darker version of #668991
--bs-btn-hover-border-color: #3c5257;

--bs-btn-focus-shadow-rgb: 102, 137, 145; // based on #668991

--bs-btn-active-color: #fff;
--bs-btn-active-bg: #3c5257; // darkest active shade
--bs-btn-active-border-color: #2a3b3f;
--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

--bs-btn-disabled-color: #fff;
--bs-btn-disabled-bg: #668991;
--bs-btn-disabled-border-color: #668991;

}