.navBtn{
  margin-left: 1%;
  display: flex;
  gap: 1%;
  width: max-content;
  height: max-content;
  border-radius: 10%;
  background: #668991;
  background: linear-gradient(
    90deg,
    rgba(102, 137, 145, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}
.pl-4{
    padding-left: 2rem !important;
    color: #668991;
    color: linear-gradient(
      90deg,
      rgba(102, 137, 145, 1) 0%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    );
}