.UpdateProduct_Paper {
   padding: 1%;
   margin: 2% auto;
   height: 80vh;
   width: 50vw;
}
.UpdateProduct_Paper h5{
  margin-bottom: 3% !important;
}
.UpdateProductGrid{
  gap: 15% !important;
  padding: 2% !important;
  display: grid;
}
.UpdateProduct_btn{
   margin-bottom: 10%;
}