.ProductList {
  display: flex;
  flex-wrap: wrap;
  width: 100% !important;
  height: 100% !important;
}
.ProductList_Card {
  flex-grow: 1;
  margin: 1% !important;
  width: 25% !important;
  height: 30% !important;
}
// .ProductList_Card_Img {
//   width: 25% !important;
// }
.ProductList_Card_Center {
  width: 25% !important;
  height: 25% !important;
}
.ProductList_Card_Footer {
  display: flex;
  gap: 50%;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
