.signup_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #668991;
  background: linear-gradient(
    90deg,
    rgba(102, 137, 145, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: 0 0 10px;
}
.signup_Paper {
  width: 50%;
  height: max-content;
  display: flex;
  padding: 2%;
  flex-direction: column;
  gap: 0.6rem; 
}
